body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1.25rem;
}
.App-Container {
  display: flex;
  box-sizing: border-box;
}
.Table-Body {
  width: 40%;
  margin: 3rem;
  padding: 3rem;
}

th,
td {
  border: 2px solid;
  padding: 0.3rem;
  text-align: center;
}

.sales-table {
  box-sizing: border-box;
  border: 3px solid;
}

/* CSS for Sales-table with filter */
.sales-table-container {
  width: 60%;
  margin: 3rem;
  padding: 3rem;
}

.filters {
  display: flex;
  gap: 2rem;
  margin-bottom: 20px;
}

.filters label {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.filters select {
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.sales-table-with-filter {
  border: 3px solid;
  width: 60%;
  /* border-collapse: collapse; */
}

.sales-table-with-filter th,
.sales-table-with-filter td {
  border: 2px solid;
  padding: 0.3rem;
  text-align: left;
}

.sales-table-with-filter th {
  font-weight: bold;
}
