body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1.5rem;
}

.Table-Body {
  margin: 3rem;
  padding: 3rem;
}

table {
  width: 60%;
  /* border-collapse: collapse; */
}

th,
td {
  border: 2px solid;
  padding: 0.3rem;
  text-align: center;
}

.sales-table {
  box-sizing: border-box;
  border: 5px solid;
}
